.mainList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    align-items: center;
    /* border: 2px solid rgb(78, 74, 74); */
}
.listItem{
    margin-bottom: 1px;
    padding: 1%;
    width: 70%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.icons{
   display: flex;
   width: 10%;
   justify-content: space-between;
    /* border: 1px solid green; */
}
/* 
Delete Button Div
*/
.deleteDiv{
    padding: .5%;
    font-size: large;
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
    background-color: red;
    cursor:pointer;
}